@import "./reset.css";
@import "./styleForSlider.css";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

:root {
  /* COLOR */
  --color-black: #000000;
  --color-light-black: #181818;
  --color-dark-grey: #5b5b5b;
  --color-grey: #e3e1e2;
  --color-white: #ffffff;
  --color-yellow: #ffcf48;
  --color-green: #77dd77;
  /* COLOR */

  --container-padding: 1.5%;
  --margin-inline: 0 1% 0 1%;
  --padding-inline: 0 1% 0 1%;
  --border-radius: 2em;
}

body {
  /*  */
  background-color: var(--color-grey);
  /*  */

  display: flex;
  flex-direction: column;
  margin: var(--margin-inline);
  font-family: "Comfortaa", sans-serif;
}

.header {
  z-index: 1000;
  position: sticky;
  top: 20px;
  margin: 20px 0 0 0;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.header__nav-container {
  padding: var(--container-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 12px 0 0 0;
}

.logo {
  width: 240px;
}

.burger-toggle {
  display: none;
}

.burger-btn {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.burger-line {
  display: block;
  width: 26px;
  height: 3px;
  background-color: var(--color-green);
  position: relative;
  transition: all 0.3s;
}

.burger-line::before,
.burger-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-green);
  transition: all 0.3s;
}

.burger-line::before {
  top: -8px;
}

.burger-line::after {
  top: 8px;
}

.header__menu {
  display: flex;
  gap: 40px;
}

.link {
  white-space: nowrap;
}

.header__menu-link {
  padding: 10px 16px;
  border-radius: var(--border-radius);
  font-size: 2em;
  text-decoration: none;
  color: var(--color-green);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__menu-link:hover {
  background-color: var(--color-grey);
  color: var(--color-light-black);
}

.main {
  color: var(--color-white);
  margin: 20px 0 20px 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.main__about-section {
  padding: var(--container-padding);
  display: flex;
  background: #2a7b9b;
  background: linear-gradient(
    270deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  border-radius: var(--border-radius);
  justify-content: center;
  gap: 50px;
}

.main__company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__company-title {
  font-size: 1.6em;
}

.main__company-facts {
  display: flex;
  gap: 14px;
}

.company-fact {
  font-size: 1.6em;
}

.main__company-fact {
  padding: var(--container-padding);
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: var(--border-radius);
}

.main__image {
  border-radius: var(--border-radius);
  width: 50%;
  object-fit: cover;
}

.main__installation-section {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  padding: var(--container-padding);
  gap: 50px;
}

.main__installation {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__installation-title {
  font-size: 2em;
}

.main__installation-steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__installation-step {
  list-style-type: decimal;
  font-size: 1.4em;
}

.main__partners-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__partners-section--title {
  display: flex;
  justify-content: center;
  font-size: 4em;
  color: var(--color-light-black);
}

.footer {
  position: relative;
  padding: var(--container-padding);
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 2em 2em 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__textAndLogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text-main {
  color: var(--color-light-black);
  font-size: 7.8vw;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0;
}

.footer__navAndApp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.footer__nav-container {
  max-width: 200px;
  flex: 1;
}

.footer__menu {
  display: flex;
  gap: 26px;
}

.footer__menu-link {
  color: var(--color-white);
  font-size: 1.4em;
}

.footer__appInstall {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
}

.text-app-inatall {
  display: flex;
  flex-direction: column;
}

.footer__appInstall-container {
  margin: 0 12%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.img__monitoring-app {
  max-width: 38%;
  object-fit: cover;
}

.install-app-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__app-item {
  background-color: var(--color-light-black);
  border-radius: var(--border-radius);
  padding: 14px;
}

.footer__app-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--color-white);
  text-decoration: none;
}

.icon-svg {
  width: 2.6em;
  height: 2.6em;
}

.text-icon {
  font-size: 1.4em;
}

.back-to-top {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2%;
  border: none;
  background-color: var(--color-light-black);
  padding: 12px;
  border-radius: var(--border-radius);
}

.back-to-top a svg {
  width: 36px;
  height: 36px;
}

/* laptop */
@media (max-width: 1300px) {
  body {
    font-size: 0.8em;
  }

  .logo {
    width: 200px;
  }

  .header__menu-link {
    font-size: 1.8em;
  }

  .main__company-facts {
    font-size: 0.9em;
    gap: 7px;
  }

  .main__installation {
    gap: 24px;
  }

  .main__installation-title {
    font-size: 1.8em;
  }

  .main__installation-steps {
    gap: 10px;
  }

  .main__partners-section--title {
    font-size: 2.2em;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 0.7em;
  }
}

/* tablet */
@media (max-width: 900px) {
  body {
    font-size: 0.6em;
  }

  .logo {
    width: 180px;
  }

  .main__about-section {
    gap: 20px;
  }

  .main__installation-section {
    gap: 40px;
  }

  .back-to-top {
    width: 50px;
    height: 50px;
  }

  .back-to-top a svg {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.5em;
  }

  .logo {
    width: 160px;
  }

  .header__menu-link {
    font-size: 2em;
  }

  .main__company-facts {
    font-size: 0.8em;
    gap: 4px;
  }

  .main__installation-section {
    gap: 30px;
  }

  .main__installation-title {
    font-size: 2em;
  }

  .main__installation {
    gap: 12px;
  }

  .partners-slider img {
    min-height: 40px;
    max-height: 50px;
  }
}

@media (max-width: 660px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--color-white);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: right 0.5s;
    z-index: 1000;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  }

  .burger-btn {
    display: block;
  }

  .burger-toggle:checked ~ .header__menu {
    right: 0;
  }

  .burger-toggle:checked + .burger-btn .burger-line {
    background-color: transparent;
  }

  .burger-toggle:checked + .burger-btn .burger-line::before {
    top: 0;
    transform: rotate(45deg);
  }

  .burger-toggle:checked + .burger-btn .burger-line::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .header__menu-link {
    font-size: 1.5rem;
    color: var(--color-light-black);
  }

  .partners-slider img {
    min-height: 30px;
    max-height: 40px;
  }
}

@media (max-width: 594px) {
  .main__about-section {
    gap: 10px;
    flex-direction: column;
  }

  .main__company {
    gap: 10px;
  }

  .main__company-title {
    font-size: 2em;
  }

  .main__installation-section {
    gap: 10px;
    flex-direction: column;
  }

  .main__image {
    width: 100%;
    max-height: 340px;
  }

  .main__installation {
    padding: 0 16px;
    gap: 10px;
    font-size: 1.1em;
  }

  .footer__appInstall {
    gap: 14px;
  }

  .img__monitoring-app {
    display: none;
  }

  .footer__appInstall-container {
    margin: 0;
  }

  .icon-svg {
    width: 4em;
  }

  .footer__menu{
    max-width: 50px;
    flex-direction: column;
    gap: 12px;
  }

  .text-icon {
    font-size: 1.4em;
  }

  .footer__navAndApp{
    gap: 0;
  }

  .footer__nav-container{
    flex: none;
  }

  .back-to-top {
    display: none;
  }
}

/* smartphone */
@media (max-width: 450px) {
  .logo {
    width: 140px;
  }

  .text-copyright {
    font-size: 1.4em;
  }

  .partners-slider img {
    min-height: 20px;
    max-height: 30px;
  }
}
